 <!-- About Section -->
    <section id="timeandplace">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Time and place</h2>
                   <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
              <h3>Time</h3>
                    <p>
                        Friday 16 December, 2016<br/>
                        17h00 for 17h15<br/>
                    </p>
                    <h3>Place</h3>
                    <p>
                        <b>Ceremony</b>: 12 Durham Avenue, Bishopscourt<br/>
                        <b> Party</b>: <a href="http://www.venueforhirecapetown.co.za/" class="textlink">ColourBox Studios</a>, 3 Industry Street, Paarden Island
                    </p>
                  <p class="centred"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.177456958095!2d18.447199314898693!3d-33.98797538062343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc42b9c59d8a4d%3A0x300cfc112683cb16!2s12+Durham+Ave%2C+Bishopscourt%2C+Cape+Town%2C+7708%2C+South+Africa!5e0!3m2!1sen!2sza!4v1469992351381" width="90%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                     
                    
                    <p class="centred">  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.9476930453707!2d18.46271491489655!3d-33.91674578064299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5db0f2b6e327%3A0x97693a74ee933c56!2sColourBox+Studios!5e0!3m2!1sen!2sza!4v1467401559823" width="90%" height="300" frameborder="0" style="border:0;" allowfullscreen></iframe></p>
                    
                </div>
            </div>
        </div>
    </section>
