 <!-- Details Section -->
    <section id="members">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Details</h2>
                   <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Dress code</h3>
                    <p class="centred">
                        Smart casual.
                    </p>
                       <h3>Dietary requirements</h3> 
                    <p>We will ensure that we provide vegetarian and vegan options. If you have other special requirements please let us know.
                    </p>
                    <h3>Travelling</h3>
                    <p>
                        For Capetonians, we suggest you UberXL in small groups together. The distances are not far (by design!) so it will be cheaper and safer to share Ubers. On street parking with security will be provided at both venues regardless. 
                    </p>
                    <p>For family and friends travelling from up country or abroad, there is ample accommodation available in Cape Town but we suggest you book this soon - prices and availabilty during high season can be tricky. If you would like us to put you in touch with other guests to arrange shared accommodation please let us know.</p>
                   
        </div>
    </section>
