 <!-- Details Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Details</h2>
                   <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Dress code</h3>
                    <p>
                        Cocktail.
                       
                    </p>
                    <p>We'd love our guests to look dapper and sexy but we don't expect too much formality - it will be midsummer after all! Gentlemen of Scottish descent are welcome to wear kilts. Ladies may want to avoid very high heels because the ceremony will be held on a manicured lawn.</p>
                       
                    <h3>Getting there</h3>
                    <p>
                        We suggest using <a class="textlink" href="https://www.uber.com/ride/" target="_blank">Uber</a> to travel in small groups together. The distances are not far (by design!) so it should be affordable to share rides. There will also be on-street parking with security at both venues. 
                    </p>
                    
                    <p>If you are new to Uber you may use the code <b>ny425</b> to get a discount on your first ride. </p>
                    
                    <p>If you would prefer a more traditional cab service both <a href="http://www.excitetaxis.co.za/#" class="textlink"  target="_blank">Excite Taxis</a> or <a href="http://www.rikkis.co.za/" class="textlink"  target="_blank">Rikkis</a> operate in the area.</p>
                    
                    <h3>Accomodation</h3>
                    <p>For family and friends travelling from up country or abroad, there is ample accommodation available in Cape Town but we suggest you book this soon - prices and availabilty during high season can be tricky. If you would like us to put you in touch with other guests to arrange shared accommodation please let us know.</p>
                    <p>We can recommend <a href="https://www.airbnb.com/s/Cape-Town--South-Africa?s_tag=vbDs839t" class="textlink" target="_blank">airbnb</a> and <a href="http://www.booking.com/searchresults.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaPsBiAEBmAExuAEHyAEM2AEB6AEB-AECqAID;sid=1054b3cf4b59736ee543dfb8b5aa1383;dcid=1;class_interval=1&dest_id=-1217214&dest_type=city&dtdisc=0&group_adults=2&group_children=0&hlrd=0&hyb_red=0&inac=0&label_click=undef&nha_red=0&no_rooms=1&offset=0&postcard=0&redirected_from_city=0&redirected_from_landmark=0&redirected_from_region=0&review_score_group=empty&room1=A%2CA&sb_price_type=total&score_min=0&src=index&src_elem=sb&ss=cape%20town&ss_all=0&ssb=empty&sshis=0&traveller=other&" class="textlink" target="_blank">Booking.com</a> if you would like to book accommodation online.</p>
                    
                    <h3>Kids</h3>
                    <p>While the ceremony will be children-friendly we would not encourage little people to attend the party afterwards (it will get loud and go on late). If you need help organising babysitting please let us know. We will make babysitting arrangements for all our guests travelling with small children from out of town. </p>
                    
                    <h3>Food and drink</h3> 
                    <p>We will provide vegetarian and vegan food options for our guests. If you have other special requirements please let us know. Dinner will only be served after 8pm - if you are an early diner you may want to have a snack before you arrive. 
                    </p>
                    
                    <p>There will be champagne and non-alcoholic refreshments provided at the ceremony. There will be plenty of complementary wine at the party, as well as a tab for beer and soft drinks. For spirits and other drinks, the bar at the ColourBox accepts both cash and cards. </p>
                   <h3>Why the zeppelin?</h3>
                   <p>Because Led Zeppelin's <a href ="https://en.wikipedia.org/wiki/Celebration_Day_(film)" class="textlink"  target="_blank">Celebration Day</a> concert. </p>
                   
        </div>
    </section>
