 <!-- Details Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Details</h2>
                   <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Dress code</h3>
                    <p>
                        Cocktail. <br/>(No ties required for men - it will be mid summer after all!)
                    </p>
                       <h3>Dietary requirements</h3> 
                    <p>We will ensure that we provide vegetarian and vegan food options. If you have other special requirements please let us know.
                    </p>
                    <h3>Travelling</h3>
                    <p>
                        We suggest using UberXL to travel in small groups together. The distances are not far (by design!) so it should be affordable (and safer) to share rides. There will also be on-street parking with security at both venues. 
                    </p>
                    
                    <p>If you are new to Uber you may use the code <b>ny425</b> to get a discount on your first ride. </p>
                    
                    <h3>Accomodation</h3>
                    <p>For family and friends travelling from up country or abroad, there is ample accommodation available in Cape Town but we suggest you book this soon - prices and availabilty during high season can be tricky. If you would like us to put you in touch with other guests to arrange shared accommodation please let us know.</p>
                    
                    <h3>Kids</h3>
                    <p>While the ceremony will be children-friendly we would not recommend bringing little people to the party afterwards. If you need help organising babysitting please let us know. We will make babysitting arrangements for all our guests travelling with small children from out of town. </p>
                   
        </div>
    </section>
