<!-- Gifts Section -->
    <section id="gifts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gifts</h2>
                   <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <p>
                      We are very set up in our little house in Obs and absolutely don't expect gifts, particularly from family and friends who are already forking out plenty of money to get here. </p>
                   <p>If you insist on giving us something however, we would hugely appreciate cash contributions towards our honeymoon in 2017.  </p>
                    <p>Our banking details are as follows:<br/>
                    Account name: Nicola du Toit<br/>
                    Bank: FNB<br/>
                    Branch: Vineyard Rd <br/>
                    Branch Code: 204209<br/>
                    Savings Account #: 62342530492</p>
                    <p>
                    Please use your name and "Wedding" as a reference so that we can send thanks!
                    
                    
                    </p>
          
                   
        </div>
    </section>