    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6 col-lg-offset-3">
                    <img class="img-responsive" src="img/zeppelin.png" alt="">
                </div>
                <div class="col-lg-12">
                    <div class="intro-text">
                      <!--  <span class="name">{{ site.skills }}</span>-->
                        <h1>Nicola and Ewald's Celebration Day</h1>
                        <h2>16 December 2016</h2>
                        
                        <!--<hr class="star-light">-->
                        <!--<span class="skills">{{ site.skills }}</span> -->
                    </div>
                </div>
                
            </div>
        </div>
    </header>
