<div class="col-md-12 text-center" id="securityhead">
    
    <form id='pwform' class="form-inline">
        <div class="form-group col-lg-12 text-center">
            <p id="security">Nicola and Ewald's Celebration Day</p>
    
            <img class="img-responsive" style="max-width:250px; margin-left:auto; margin-right:auto;" src="img/zeppelin.png" alt=""><br/>
            <label for="exampleInputName2">Please enter the password included in your invitation to access the site.</label>
            <br/>
            <input type="password" class="form-control" id="exampleInputName2" placeholder="Enter password here...">

        </div>
        <br/>
        <button id="pwbutton" type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


<script type="text/javascript">
    window.onload = function() {
        
        
        $('#pwform').on('submit', function(event) {
            event.preventDefault();
            var input = $('#exampleInputName2').val();
            if (md5(input) == '486c6b1fd7cb2f9d63a61a02b6da53b9'){
                $('#pwform').hide();
                $('div.content').show();
                
            }
            else {
                alert("Wrong password. Please try again.");
            }
        });
    }
</script>
